/* Hide GitHub Pages' site title */
.navbar-brand {
  display: none;
}

/* Reduce margins for a tighter layout */
body {
  max-width: 1000px;  /* Slightly wider than before */
  margin: 0 auto;  /* Centers content */
  padding: 10px 40px;  /* Reduce internal padding */
}
