header {
  display: none;
}

/* Keep your name visible while hiding the GitHub Pages title */
.navbar-brand {
  display: none; 
}

body {
  max-width: 900px; /* Slightly wider */
  margin: 10px auto; /* Slimmer margins */
  padding: 10px 20px; /* Reduce padding */
}
