/* Hide GitHub Pages title */
h1:first-of-type {
  display: none;
}

/* Reduce margins for a tighter layout */
body {
  max-width: 1100px;  /* Slightly wider */
  margin: 5px auto !important;  /* Force smaller margins */
  padding: 5px 30px !important;  /* Reduce padding */
}
